/*	body:0	face:0	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.012	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.012	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:0	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.012	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.012	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:0	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.012	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.012	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:0	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.012	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.012	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:1	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.012	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.012	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:1	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.012	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.244	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:1	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.244	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.244	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:1	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.244	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.012	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:2	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.244	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.244	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:2	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.244	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.244	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:2	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.244	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.244	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:2	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.244	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.244	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:3	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.244	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.244	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:3	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.244	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.012	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:3	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.012	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.012	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:3	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.012	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.244	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:4	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.256	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.256	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:4	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.256	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.256	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:4	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.256	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.256	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:4	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.256	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.256	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:5	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.256	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.256	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:5	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.256	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.744	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:5	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.744	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.744	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:5	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.744	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.256	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:6	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.744	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.744	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:6	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.744	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.744	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:6	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.744	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.744	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:6	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.744	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.744	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:7	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.744	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.744	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:7	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.744	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.256	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:7	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.256	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.256	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:7	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.256	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.744	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:8	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.756	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.756	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:8	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.756	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.756	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:8	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.756	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.756	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:8	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.756	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.756	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:9	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.756	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.756	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:9	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.756	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.244	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:9	loop_id:0	edge_id:2	*/
/*		0.location	*/	1.244	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.244	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:9	loop_id:0	edge_id:3	*/
/*		0.location	*/	1.244	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.756	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:10	loop_id:0	edge_id:0	*/
/*		0.location	*/	1.244	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.244	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:10	loop_id:0	edge_id:1	*/
/*		0.location	*/	1.244	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.244	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:10	loop_id:0	edge_id:2	*/
/*		0.location	*/	1.244	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.244	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:10	loop_id:0	edge_id:3	*/
/*		0.location	*/	1.244	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.244	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:11	loop_id:0	edge_id:0	*/
/*		0.location	*/	1.244	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.244	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:11	loop_id:0	edge_id:1	*/
/*		0.location	*/	1.244	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.756	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:11	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.756	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.756	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:11	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.756	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.244	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:12	loop_id:0	edge_id:0	*/
/*		0.location	*/	1.256	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.256	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:12	loop_id:0	edge_id:1	*/
/*		0.location	*/	1.256	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.256	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:12	loop_id:0	edge_id:2	*/
/*		0.location	*/	1.256	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.256	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:12	loop_id:0	edge_id:3	*/
/*		0.location	*/	1.256	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.256	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:13	loop_id:0	edge_id:0	*/
/*		0.location	*/	1.256	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.256	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:13	loop_id:0	edge_id:1	*/
/*		0.location	*/	1.256	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.744	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:13	loop_id:0	edge_id:2	*/
/*		0.location	*/	1.744	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.744	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:13	loop_id:0	edge_id:3	*/
/*		0.location	*/	1.744	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.256	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:14	loop_id:0	edge_id:0	*/
/*		0.location	*/	1.744	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.744	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:14	loop_id:0	edge_id:1	*/
/*		0.location	*/	1.744	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.744	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:14	loop_id:0	edge_id:2	*/
/*		0.location	*/	1.744	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.744	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:14	loop_id:0	edge_id:3	*/
/*		0.location	*/	1.744	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.744	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:15	loop_id:0	edge_id:0	*/
/*		0.location	*/	1.744	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.744	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:15	loop_id:0	edge_id:1	*/
/*		0.location	*/	1.744	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.256	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:15	loop_id:0	edge_id:2	*/
/*		0.location	*/	1.256	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.256	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:15	loop_id:0	edge_id:3	*/
/*		0.location	*/	1.256	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.744	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:16	loop_id:0	edge_id:0	*/
/*		0.location	*/	1.756	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.756	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:16	loop_id:0	edge_id:1	*/
/*		0.location	*/	1.756	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.756	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:16	loop_id:0	edge_id:2	*/
/*		0.location	*/	1.756	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.756	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:16	loop_id:0	edge_id:3	*/
/*		0.location	*/	1.756	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.756	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:17	loop_id:0	edge_id:0	*/
/*		0.location	*/	1.756	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.756	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:17	loop_id:0	edge_id:1	*/
/*		0.location	*/	1.756	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.244	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:17	loop_id:0	edge_id:2	*/
/*		0.location	*/	2.244	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.244	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:17	loop_id:0	edge_id:3	*/
/*		0.location	*/	2.244	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.756	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:18	loop_id:0	edge_id:0	*/
/*		0.location	*/	2.244	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.244	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:18	loop_id:0	edge_id:1	*/
/*		0.location	*/	2.244	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.244	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:18	loop_id:0	edge_id:2	*/
/*		0.location	*/	2.244	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.244	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:18	loop_id:0	edge_id:3	*/
/*		0.location	*/	2.244	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.244	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:19	loop_id:0	edge_id:0	*/
/*		0.location	*/	2.244	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.244	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:19	loop_id:0	edge_id:1	*/
/*		0.location	*/	2.244	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.756	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:19	loop_id:0	edge_id:2	*/
/*		0.location	*/	1.756	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.756	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:19	loop_id:0	edge_id:3	*/
/*		0.location	*/	1.756	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.244	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:20	loop_id:0	edge_id:0	*/
/*		0.location	*/	2.256	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.256	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:20	loop_id:0	edge_id:1	*/
/*		0.location	*/	2.256	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.256	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:20	loop_id:0	edge_id:2	*/
/*		0.location	*/	2.256	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.256	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:20	loop_id:0	edge_id:3	*/
/*		0.location	*/	2.256	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.256	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:21	loop_id:0	edge_id:0	*/
/*		0.location	*/	2.256	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.256	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:21	loop_id:0	edge_id:1	*/
/*		0.location	*/	2.256	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.744	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:21	loop_id:0	edge_id:2	*/
/*		0.location	*/	2.744	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.744	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:21	loop_id:0	edge_id:3	*/
/*		0.location	*/	2.744	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.256	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:22	loop_id:0	edge_id:0	*/
/*		0.location	*/	2.744	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.744	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:22	loop_id:0	edge_id:1	*/
/*		0.location	*/	2.744	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.744	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:22	loop_id:0	edge_id:2	*/
/*		0.location	*/	2.744	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.744	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:22	loop_id:0	edge_id:3	*/
/*		0.location	*/	2.744	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.744	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:23	loop_id:0	edge_id:0	*/
/*		0.location	*/	2.744	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.744	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:23	loop_id:0	edge_id:1	*/
/*		0.location	*/	2.744	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.256	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:23	loop_id:0	edge_id:2	*/
/*		0.location	*/	2.256	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.256	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:23	loop_id:0	edge_id:3	*/
/*		0.location	*/	2.256	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.744	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:24	loop_id:0	edge_id:0	*/
/*		0.location	*/	2.756	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.756	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:24	loop_id:0	edge_id:1	*/
/*		0.location	*/	2.756	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.756	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:24	loop_id:0	edge_id:2	*/
/*		0.location	*/	2.756	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.756	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:24	loop_id:0	edge_id:3	*/
/*		0.location	*/	2.756	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.756	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:25	loop_id:0	edge_id:0	*/
/*		0.location	*/	2.756	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.756	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:25	loop_id:0	edge_id:1	*/
/*		0.location	*/	2.756	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.244	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:25	loop_id:0	edge_id:2	*/
/*		0.location	*/	3.244	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.244	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:25	loop_id:0	edge_id:3	*/
/*		0.location	*/	3.244	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.756	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:26	loop_id:0	edge_id:0	*/
/*		0.location	*/	3.244	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.244	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:26	loop_id:0	edge_id:1	*/
/*		0.location	*/	3.244	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.244	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:26	loop_id:0	edge_id:2	*/
/*		0.location	*/	3.244	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.244	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:26	loop_id:0	edge_id:3	*/
/*		0.location	*/	3.244	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.244	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:27	loop_id:0	edge_id:0	*/
/*		0.location	*/	3.244	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.244	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:27	loop_id:0	edge_id:1	*/
/*		0.location	*/	3.244	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.756	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:27	loop_id:0	edge_id:2	*/
/*		0.location	*/	2.756	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.756	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:27	loop_id:0	edge_id:3	*/
/*		0.location	*/	2.756	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.244	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:28	loop_id:0	edge_id:0	*/
/*		0.location	*/	3.256	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.256	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:28	loop_id:0	edge_id:1	*/
/*		0.location	*/	3.256	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.256	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:28	loop_id:0	edge_id:2	*/
/*		0.location	*/	3.256	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.256	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:28	loop_id:0	edge_id:3	*/
/*		0.location	*/	3.256	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.256	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:29	loop_id:0	edge_id:0	*/
/*		0.location	*/	3.256	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.256	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:29	loop_id:0	edge_id:1	*/
/*		0.location	*/	3.256	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.488	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:29	loop_id:0	edge_id:2	*/
/*		0.location	*/	3.488	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.488	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:29	loop_id:0	edge_id:3	*/
/*		0.location	*/	3.488	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.256	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:30	loop_id:0	edge_id:0	*/
/*		0.location	*/	3.488	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.488	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:30	loop_id:0	edge_id:1	*/
/*		0.location	*/	3.488	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.488	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:30	loop_id:0	edge_id:2	*/
/*		0.location	*/	3.488	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.488	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:30	loop_id:0	edge_id:3	*/
/*		0.location	*/	3.488	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.488	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:31	loop_id:0	edge_id:0	*/
/*		0.location	*/	3.488	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.488	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:31	loop_id:0	edge_id:1	*/
/*		0.location	*/	3.488	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.256	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:31	loop_id:0	edge_id:2	*/
/*		0.location	*/	3.256	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.256	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:31	loop_id:0	edge_id:3	*/
/*		0.location	*/	3.256	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.488	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:32	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.0	0.262	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.0	0.0	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:32	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.0	0.0	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.0	0.0	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:32	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.0	0.262	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.0	0.0	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:32	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.0	0.262	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.0	0.262	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:33	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.0	0.0	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.5	0.0	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:33	loop_id:0	edge_id:1	*/
/*		0.location	*/	3.5	0.0	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.5	0.0	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:33	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.0	0.0	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.5	0.0	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:33	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.0	0.0	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.0	0.0	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:34	loop_id:0	edge_id:0	*/
/*		0.location	*/	3.5	0.0	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.5	0.0	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:34	loop_id:0	edge_id:1	*/
/*		0.location	*/	3.5	0.0	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.5	0.262	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:34	loop_id:0	edge_id:2	*/
/*		0.location	*/	3.5	0.262	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.5	0.262	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:34	loop_id:0	edge_id:3	*/
/*		0.location	*/	3.5	0.0	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.5	0.262	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:35	loop_id:0	edge_id:0	*/
/*		0.location	*/	3.5	0.262	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.0	0.262	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:35	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.0	0.262	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.0	0.262	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:35	loop_id:0	edge_id:2	*/
/*		0.location	*/	3.5	0.262	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.0	0.262	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:35	loop_id:0	edge_id:3	*/
/*		0.location	*/	3.5	0.262	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.5	0.262	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:0	edge_id:0	*/
/*		0.location	*/	3.256	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.488	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:0	edge_id:1	*/
/*		0.location	*/	3.256	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.256	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:0	edge_id:2	*/
/*		0.location	*/	3.488	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.256	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:0	edge_id:3	*/
/*		0.location	*/	3.488	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.488	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:1	edge_id:0	*/
/*		0.location	*/	2.756	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.244	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:1	edge_id:1	*/
/*		0.location	*/	2.756	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.756	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:1	edge_id:2	*/
/*		0.location	*/	3.244	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.756	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:1	edge_id:3	*/
/*		0.location	*/	3.244	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.244	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:2	edge_id:0	*/
/*		0.location	*/	2.256	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.744	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:2	edge_id:1	*/
/*		0.location	*/	2.256	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.256	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:2	edge_id:2	*/
/*		0.location	*/	2.744	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.256	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:2	edge_id:3	*/
/*		0.location	*/	2.744	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.744	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:3	edge_id:0	*/
/*		0.location	*/	1.756	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.244	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:3	edge_id:1	*/
/*		0.location	*/	1.756	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.756	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:3	edge_id:2	*/
/*		0.location	*/	2.244	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.756	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:3	edge_id:3	*/
/*		0.location	*/	2.244	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.244	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:4	edge_id:0	*/
/*		0.location	*/	1.256	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.744	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:4	edge_id:1	*/
/*		0.location	*/	1.256	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.256	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:4	edge_id:2	*/
/*		0.location	*/	1.744	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.256	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:4	edge_id:3	*/
/*		0.location	*/	1.744	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.744	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:5	edge_id:0	*/
/*		0.location	*/	0.756	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.244	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:5	edge_id:1	*/
/*		0.location	*/	0.756	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.756	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:5	edge_id:2	*/
/*		0.location	*/	1.244	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.756	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:5	edge_id:3	*/
/*		0.location	*/	1.244	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.244	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:6	edge_id:0	*/
/*		0.location	*/	0.256	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.744	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:6	edge_id:1	*/
/*		0.location	*/	0.256	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.256	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:6	edge_id:2	*/
/*		0.location	*/	0.744	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.256	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:6	edge_id:3	*/
/*		0.location	*/	0.744	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.744	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:7	edge_id:0	*/
/*		0.location	*/	0.012	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.244	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:7	edge_id:1	*/
/*		0.location	*/	0.012	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.012	0.012	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:7	edge_id:2	*/
/*		0.location	*/	0.244	0.25	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.012	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:7	edge_id:3	*/
/*		0.location	*/	0.244	0.012	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.244	0.25	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:8	edge_id:0	*/
/*		0.location	*/	0.0	0.262	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.0	0.0	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:8	edge_id:1	*/
/*		0.location	*/	0.0	0.0	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.5	0.0	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:8	edge_id:2	*/
/*		0.location	*/	3.5	0.0	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.5	0.262	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:36	loop_id:8	edge_id:3	*/
/*		0.location	*/	3.5	0.262	0.2	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.0	0.262	0.2	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:0	edge_id:0	*/
/*		0.location	*/	3.256	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.256	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:0	edge_id:1	*/
/*		0.location	*/	3.256	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.488	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:0	edge_id:2	*/
/*		0.location	*/	3.488	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.488	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:0	edge_id:3	*/
/*		0.location	*/	3.488	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.256	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:1	edge_id:0	*/
/*		0.location	*/	2.756	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.756	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:1	edge_id:1	*/
/*		0.location	*/	2.756	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.244	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:1	edge_id:2	*/
/*		0.location	*/	3.244	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.244	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:1	edge_id:3	*/
/*		0.location	*/	3.244	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.756	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:2	edge_id:0	*/
/*		0.location	*/	2.256	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.256	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:2	edge_id:1	*/
/*		0.location	*/	2.256	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.744	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:2	edge_id:2	*/
/*		0.location	*/	2.744	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.744	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:2	edge_id:3	*/
/*		0.location	*/	2.744	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.256	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:3	edge_id:0	*/
/*		0.location	*/	1.756	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.756	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:3	edge_id:1	*/
/*		0.location	*/	1.756	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.244	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:3	edge_id:2	*/
/*		0.location	*/	2.244	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.244	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:3	edge_id:3	*/
/*		0.location	*/	2.244	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.756	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:4	edge_id:0	*/
/*		0.location	*/	1.256	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.256	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:4	edge_id:1	*/
/*		0.location	*/	1.256	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.744	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:4	edge_id:2	*/
/*		0.location	*/	1.744	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.744	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:4	edge_id:3	*/
/*		0.location	*/	1.744	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.256	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:5	edge_id:0	*/
/*		0.location	*/	0.756	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.756	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:5	edge_id:1	*/
/*		0.location	*/	0.756	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.244	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:5	edge_id:2	*/
/*		0.location	*/	1.244	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.244	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:5	edge_id:3	*/
/*		0.location	*/	1.244	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.756	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:6	edge_id:0	*/
/*		0.location	*/	0.256	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.256	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:6	edge_id:1	*/
/*		0.location	*/	0.256	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.744	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:6	edge_id:2	*/
/*		0.location	*/	0.744	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.744	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:6	edge_id:3	*/
/*		0.location	*/	0.744	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.256	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:7	edge_id:0	*/
/*		0.location	*/	0.012	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.012	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:7	edge_id:1	*/
/*		0.location	*/	0.012	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.244	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:7	edge_id:2	*/
/*		0.location	*/	0.244	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.244	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:7	edge_id:3	*/
/*		0.location	*/	0.244	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.012	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:8	edge_id:0	*/
/*		0.location	*/	0.0	0.262	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.0	0.0	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:8	edge_id:1	*/
/*		0.location	*/	3.5	0.262	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.0	0.262	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:8	edge_id:2	*/
/*		0.location	*/	3.5	0.0	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.5	0.262	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:37	loop_id:8	edge_id:3	*/
/*		0.location	*/	0.0	0.0	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.5	0.0	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:38	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.012	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.012	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:38	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.012	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.012	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:38	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.012	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.012	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:38	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.012	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.012	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:39	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.244	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.244	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:39	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.244	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.012	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:39	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.012	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.012	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:39	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.244	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.012	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:40	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.244	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.244	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:40	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.244	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.244	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:40	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.244	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.244	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:40	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.244	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.244	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:41	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.012	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.012	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:41	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.012	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.244	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:41	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.244	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.244	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:41	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.012	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.244	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:42	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.256	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.256	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:42	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.256	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.256	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:42	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.256	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.256	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:42	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.256	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.256	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:43	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.744	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.744	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:43	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.744	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.256	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:43	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.256	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.256	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:43	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.744	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.256	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:44	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.744	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.744	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:44	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.744	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.744	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:44	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.744	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.744	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:44	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.744	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.744	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:45	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.256	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.256	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:45	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.256	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.744	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:45	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.744	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.744	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:45	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.256	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.744	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:46	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.756	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.756	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:46	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.756	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.756	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:46	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.756	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.756	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:46	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.756	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.756	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:47	loop_id:0	edge_id:0	*/
/*		0.location	*/	1.244	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.244	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:47	loop_id:0	edge_id:1	*/
/*		0.location	*/	1.244	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.756	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:47	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.756	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.756	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:47	loop_id:0	edge_id:3	*/
/*		0.location	*/	1.244	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.756	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:48	loop_id:0	edge_id:0	*/
/*		0.location	*/	1.244	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.244	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:48	loop_id:0	edge_id:1	*/
/*		0.location	*/	1.244	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.244	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:48	loop_id:0	edge_id:2	*/
/*		0.location	*/	1.244	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.244	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:48	loop_id:0	edge_id:3	*/
/*		0.location	*/	1.244	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.244	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:49	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.756	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.756	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:49	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.756	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.244	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:49	loop_id:0	edge_id:2	*/
/*		0.location	*/	1.244	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.244	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:49	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.756	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.244	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:50	loop_id:0	edge_id:0	*/
/*		0.location	*/	1.256	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.256	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:50	loop_id:0	edge_id:1	*/
/*		0.location	*/	1.256	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.256	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:50	loop_id:0	edge_id:2	*/
/*		0.location	*/	1.256	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.256	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:50	loop_id:0	edge_id:3	*/
/*		0.location	*/	1.256	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.256	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:51	loop_id:0	edge_id:0	*/
/*		0.location	*/	1.744	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.744	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:51	loop_id:0	edge_id:1	*/
/*		0.location	*/	1.744	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.256	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:51	loop_id:0	edge_id:2	*/
/*		0.location	*/	1.256	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.256	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:51	loop_id:0	edge_id:3	*/
/*		0.location	*/	1.744	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.256	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:52	loop_id:0	edge_id:0	*/
/*		0.location	*/	1.744	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.744	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:52	loop_id:0	edge_id:1	*/
/*		0.location	*/	1.744	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.744	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:52	loop_id:0	edge_id:2	*/
/*		0.location	*/	1.744	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.744	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:52	loop_id:0	edge_id:3	*/
/*		0.location	*/	1.744	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.744	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:53	loop_id:0	edge_id:0	*/
/*		0.location	*/	1.256	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.256	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:53	loop_id:0	edge_id:1	*/
/*		0.location	*/	1.256	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.744	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:53	loop_id:0	edge_id:2	*/
/*		0.location	*/	1.744	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.744	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:53	loop_id:0	edge_id:3	*/
/*		0.location	*/	1.256	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.744	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:54	loop_id:0	edge_id:0	*/
/*		0.location	*/	1.756	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.756	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:54	loop_id:0	edge_id:1	*/
/*		0.location	*/	1.756	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.756	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:54	loop_id:0	edge_id:2	*/
/*		0.location	*/	1.756	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.756	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:54	loop_id:0	edge_id:3	*/
/*		0.location	*/	1.756	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.756	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:55	loop_id:0	edge_id:0	*/
/*		0.location	*/	2.244	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.244	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:55	loop_id:0	edge_id:1	*/
/*		0.location	*/	2.244	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.756	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:55	loop_id:0	edge_id:2	*/
/*		0.location	*/	1.756	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.756	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:55	loop_id:0	edge_id:3	*/
/*		0.location	*/	2.244	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.756	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:56	loop_id:0	edge_id:0	*/
/*		0.location	*/	2.244	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.244	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:56	loop_id:0	edge_id:1	*/
/*		0.location	*/	2.244	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.244	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:56	loop_id:0	edge_id:2	*/
/*		0.location	*/	2.244	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.244	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:56	loop_id:0	edge_id:3	*/
/*		0.location	*/	2.244	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.244	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:57	loop_id:0	edge_id:0	*/
/*		0.location	*/	1.756	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.756	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:57	loop_id:0	edge_id:1	*/
/*		0.location	*/	1.756	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.244	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:57	loop_id:0	edge_id:2	*/
/*		0.location	*/	2.244	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.244	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:57	loop_id:0	edge_id:3	*/
/*		0.location	*/	1.756	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.244	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:58	loop_id:0	edge_id:0	*/
/*		0.location	*/	2.256	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.256	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:58	loop_id:0	edge_id:1	*/
/*		0.location	*/	2.256	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.256	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:58	loop_id:0	edge_id:2	*/
/*		0.location	*/	2.256	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.256	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:58	loop_id:0	edge_id:3	*/
/*		0.location	*/	2.256	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.256	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:59	loop_id:0	edge_id:0	*/
/*		0.location	*/	2.744	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.744	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:59	loop_id:0	edge_id:1	*/
/*		0.location	*/	2.744	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.256	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:59	loop_id:0	edge_id:2	*/
/*		0.location	*/	2.256	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.256	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:59	loop_id:0	edge_id:3	*/
/*		0.location	*/	2.744	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.256	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:60	loop_id:0	edge_id:0	*/
/*		0.location	*/	2.744	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.744	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:60	loop_id:0	edge_id:1	*/
/*		0.location	*/	2.744	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.744	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:60	loop_id:0	edge_id:2	*/
/*		0.location	*/	2.744	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.744	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:60	loop_id:0	edge_id:3	*/
/*		0.location	*/	2.744	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.744	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:61	loop_id:0	edge_id:0	*/
/*		0.location	*/	2.256	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.256	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:61	loop_id:0	edge_id:1	*/
/*		0.location	*/	2.256	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.744	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:61	loop_id:0	edge_id:2	*/
/*		0.location	*/	2.744	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.744	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:61	loop_id:0	edge_id:3	*/
/*		0.location	*/	2.256	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.744	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:62	loop_id:0	edge_id:0	*/
/*		0.location	*/	2.756	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.756	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:62	loop_id:0	edge_id:1	*/
/*		0.location	*/	2.756	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.756	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:62	loop_id:0	edge_id:2	*/
/*		0.location	*/	2.756	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.756	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:62	loop_id:0	edge_id:3	*/
/*		0.location	*/	2.756	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.756	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:63	loop_id:0	edge_id:0	*/
/*		0.location	*/	3.244	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.244	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:63	loop_id:0	edge_id:1	*/
/*		0.location	*/	3.244	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.756	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:63	loop_id:0	edge_id:2	*/
/*		0.location	*/	2.756	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.756	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:63	loop_id:0	edge_id:3	*/
/*		0.location	*/	3.244	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.756	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:64	loop_id:0	edge_id:0	*/
/*		0.location	*/	3.244	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.244	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:64	loop_id:0	edge_id:1	*/
/*		0.location	*/	3.244	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.244	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:64	loop_id:0	edge_id:2	*/
/*		0.location	*/	3.244	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.244	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:64	loop_id:0	edge_id:3	*/
/*		0.location	*/	3.244	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.244	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:65	loop_id:0	edge_id:0	*/
/*		0.location	*/	2.756	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.756	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:65	loop_id:0	edge_id:1	*/
/*		0.location	*/	2.756	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.244	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:65	loop_id:0	edge_id:2	*/
/*		0.location	*/	3.244	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.244	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:65	loop_id:0	edge_id:3	*/
/*		0.location	*/	2.756	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.244	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:66	loop_id:0	edge_id:0	*/
/*		0.location	*/	3.256	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.256	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:66	loop_id:0	edge_id:1	*/
/*		0.location	*/	3.256	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.256	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:66	loop_id:0	edge_id:2	*/
/*		0.location	*/	3.256	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.256	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:66	loop_id:0	edge_id:3	*/
/*		0.location	*/	3.256	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.256	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:67	loop_id:0	edge_id:0	*/
/*		0.location	*/	3.488	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.488	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:67	loop_id:0	edge_id:1	*/
/*		0.location	*/	3.488	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.256	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:67	loop_id:0	edge_id:2	*/
/*		0.location	*/	3.256	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.256	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:67	loop_id:0	edge_id:3	*/
/*		0.location	*/	3.488	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.256	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:68	loop_id:0	edge_id:0	*/
/*		0.location	*/	3.488	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.488	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:68	loop_id:0	edge_id:1	*/
/*		0.location	*/	3.488	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.488	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:68	loop_id:0	edge_id:2	*/
/*		0.location	*/	3.488	0.25	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.488	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:68	loop_id:0	edge_id:3	*/
/*		0.location	*/	3.488	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.488	0.25	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:69	loop_id:0	edge_id:0	*/
/*		0.location	*/	3.256	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.256	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:69	loop_id:0	edge_id:1	*/
/*		0.location	*/	3.256	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.488	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:69	loop_id:0	edge_id:2	*/
/*		0.location	*/	3.488	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.488	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:69	loop_id:0	edge_id:3	*/
/*		0.location	*/	3.256	0.012	0.0	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.488	0.012	0.0	1	/*	material	*/	0	0	0	1
/*	body:0	face:70	loop_id:0	edge_id:0	*/
/*		0.location	*/	3.256	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.256	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:70	loop_id:0	edge_id:1	*/
/*		0.location	*/	3.488	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.256	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:70	loop_id:0	edge_id:2	*/
/*		0.location	*/	3.488	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.488	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:70	loop_id:0	edge_id:3	*/
/*		0.location	*/	3.256	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.488	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:71	loop_id:0	edge_id:0	*/
/*		0.location	*/	3.256	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.256	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:71	loop_id:0	edge_id:1	*/
/*		0.location	*/	3.488	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.256	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:71	loop_id:0	edge_id:2	*/
/*		0.location	*/	3.488	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.488	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:71	loop_id:0	edge_id:3	*/
/*		0.location	*/	3.256	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.488	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:72	loop_id:0	edge_id:0	*/
/*		0.location	*/	2.756	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.756	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:72	loop_id:0	edge_id:1	*/
/*		0.location	*/	3.244	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.756	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:72	loop_id:0	edge_id:2	*/
/*		0.location	*/	3.244	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.244	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:72	loop_id:0	edge_id:3	*/
/*		0.location	*/	2.756	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.244	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:73	loop_id:0	edge_id:0	*/
/*		0.location	*/	2.756	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.756	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:73	loop_id:0	edge_id:1	*/
/*		0.location	*/	3.244	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.756	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:73	loop_id:0	edge_id:2	*/
/*		0.location	*/	3.244	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.244	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:73	loop_id:0	edge_id:3	*/
/*		0.location	*/	2.756	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	3.244	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:74	loop_id:0	edge_id:0	*/
/*		0.location	*/	2.256	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.256	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:74	loop_id:0	edge_id:1	*/
/*		0.location	*/	2.744	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.256	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:74	loop_id:0	edge_id:2	*/
/*		0.location	*/	2.744	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.744	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:74	loop_id:0	edge_id:3	*/
/*		0.location	*/	2.256	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.744	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:75	loop_id:0	edge_id:0	*/
/*		0.location	*/	2.256	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.256	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:75	loop_id:0	edge_id:1	*/
/*		0.location	*/	2.744	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.256	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:75	loop_id:0	edge_id:2	*/
/*		0.location	*/	2.744	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.744	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:75	loop_id:0	edge_id:3	*/
/*		0.location	*/	2.256	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.744	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:76	loop_id:0	edge_id:0	*/
/*		0.location	*/	1.756	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.756	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:76	loop_id:0	edge_id:1	*/
/*		0.location	*/	2.244	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.756	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:76	loop_id:0	edge_id:2	*/
/*		0.location	*/	2.244	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.244	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:76	loop_id:0	edge_id:3	*/
/*		0.location	*/	1.756	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.244	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:77	loop_id:0	edge_id:0	*/
/*		0.location	*/	1.756	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.756	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:77	loop_id:0	edge_id:1	*/
/*		0.location	*/	2.244	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.756	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:77	loop_id:0	edge_id:2	*/
/*		0.location	*/	2.244	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.244	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:77	loop_id:0	edge_id:3	*/
/*		0.location	*/	1.756	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	2.244	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:78	loop_id:0	edge_id:0	*/
/*		0.location	*/	1.256	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.256	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:78	loop_id:0	edge_id:1	*/
/*		0.location	*/	1.744	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.256	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:78	loop_id:0	edge_id:2	*/
/*		0.location	*/	1.744	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.744	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:78	loop_id:0	edge_id:3	*/
/*		0.location	*/	1.256	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.744	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:79	loop_id:0	edge_id:0	*/
/*		0.location	*/	1.256	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.256	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:79	loop_id:0	edge_id:1	*/
/*		0.location	*/	1.744	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.256	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:79	loop_id:0	edge_id:2	*/
/*		0.location	*/	1.744	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.744	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:79	loop_id:0	edge_id:3	*/
/*		0.location	*/	1.256	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.744	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:80	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.756	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.756	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:80	loop_id:0	edge_id:1	*/
/*		0.location	*/	1.244	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.756	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:80	loop_id:0	edge_id:2	*/
/*		0.location	*/	1.244	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.244	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:80	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.756	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.244	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:81	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.756	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.756	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:81	loop_id:0	edge_id:1	*/
/*		0.location	*/	1.244	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.756	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:81	loop_id:0	edge_id:2	*/
/*		0.location	*/	1.244	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.244	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:81	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.756	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	1.244	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:82	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.256	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.256	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:82	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.744	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.256	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:82	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.744	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.744	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:82	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.256	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.744	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:83	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.256	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.256	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:83	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.744	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.256	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:83	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.744	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.744	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:83	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.256	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.744	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:84	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.012	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.012	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:84	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.244	0.25	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.012	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:84	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.244	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.244	0.25	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:84	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.012	0.012	0.094	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.244	0.012	0.094	1	/*	material	*/	0	0	0	1
/*	body:0	face:85	loop_id:0	edge_id:0	*/
/*		0.location	*/	0.012	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.012	0.25	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:85	loop_id:0	edge_id:1	*/
/*		0.location	*/	0.244	0.012	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.012	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:85	loop_id:0	edge_id:2	*/
/*		0.location	*/	0.244	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.244	0.012	0.106	1	/*	material	*/	0	0	0	1
/*	body:0	face:85	loop_id:0	edge_id:3	*/
/*		0.location	*/	0.012	0.25	0.106	1	/*	material	*/	0	0	0	1
/*		1.location	*/	0.244	0.25	0.106	1	/*	material	*/	0	0	0	1

